# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
ws-venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environment variables
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Neo4j
*.txt
!requirements.txt

# Large files (optional - if PDFs are too big)
dev-data/
dev-notebooks/
dev-utils/
# workshop-data/*.pdf
# dev-data/*.pdf

